.DS_Store
settings.php
__novo/**/*
_SQL/**/*
bazar2014/**/*
boletim2012/**/*
cgi-bin/**/*
images/**/*
img/**/*
media/**/*
midia/**/*
tmp/**/*
*.jpg
*.png
*.gif
boletim2012/**/*
boletim2013/**/*
boletim2014/**/*
boletim2015/**/*
boletim2016/**/*
campanhadoagasalho2012/**/*
campanhadoagasalho2014-imagens/**/*
extensions/**/*
rifa/**/*
sacolinha2012/**/*
sacolinha2013/**/*
sacolinha2014/**/*
sacolinha2015/**/*
sacolinha2016/**/*
sacolinha2017/**/*
susan/**/*
