body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 100%;
    color: #999999;
    line-height: 1.2rem;
    
}
a{
    text-decoration: none;
}

p, li{
    line-height: 1.5rem;
}

button,input[type=button],input[type=submit]{border:0}